html, body {
  margin: 0;
  height: 100%;
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #6fa;
}
div {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
img {
  position: fixed;
  height: 150px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#globe {
  transform: scale(.45) translate( 51%, -75%);
}