body {
    font-family: 'Courier New', Courier, monospace;
    border: none;
    padding: 0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    width: 80%;
    height: auto;
}
span {
    display: block;
    padding-top: 3em;
    text-align: center;
}